.navbar-brand {
    padding: 0px;
}

h2 {
    color: red;
}
#personal, #logout{
    color:white;
    font-weight: bold;
}

p, label {
    color: white;
}
.jumbotron{
    margin-bottom: 0px;
}
.jumbotron p {
    color: black;
}

thead {
    font-size: x-large;
    font-weight: bolder;
    padding: 0px;
}

.thread-title {
    font-size: large;
    /* color:red; */
}

.thread-text {
    font-size: small;
    font-weight: normal;
    font-style: italic;
    color: grey;
}

/* a:hover {
    color: white;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color:maroon;
} */

.thread-number {
    font-size: normal;
    font-weight: bold;
}

.thread-post {
    color: blue;
    font-weight: bold;
}

.thread-last {
    color: purple;
    font-weight: bold;
}

.form-group, .form-control{
    font-size: large;
}


.insert-img {
    height: 150px;
    margin-right: 10px;
}

#main {
    /* background-color:white;
    background-image: url("../img/logo_opacity.png");
    background-size: 100%; */
}

footer {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

#button-thread, #button-view, #button-reply, #button-post, #button-last{
    /* display: block; */
    height: 100%;
    width: 100%;
    font-size: larger;
}